body {
	position: absolute;
	left: 175px;

	background-color: gray;
}

h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;

	color: #FFFFFF;

	text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 31px;

	color: #FFFFFF;

	text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

p, li {
	width: 743px;
	/*height: 596px;*/
	left: 215px;
	top: 1053px;

	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: justify;

	color: #FFFFFF;


}

img {
	background: url(image.png);
	filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.69));
	border-radius: 35px;
}

.rightimg {
    float:right;
    margin: 3%;
   }

.nazad {
	text-align: center;
	color: #FFFFFF;

	background: linear-gradient(241.82deg, #190543 32.56%, rgba(25, 5, 67, 0) 138.52%);
filter: drop-shadow(0px 4px 20px #1E0E40);
border-radius: 45px;
}
